html {
  font-style: sans-serif;
}

body {
  text-align: center;
  background-color: #F57921;
}

button {
  border-radius: 5px;
  background-color: white;
  border-style: solid;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: #AACEEC;
  border-color: #AACEEC;
}

button:focus {
  outline: none;
}

.logo {
  background: url("../images/logo.png") center no-repeat;
  background-size: contain;
  height: 100px;
  margin: 30px;
}

.grid {
  display: inline-flex;
  align-self: center;
  flex-direction: column;
  background-color: #398BD4;
  border: 5px solid #FFCA08;
  margin-bottom: 20px;
}

.row {
  display: flex;
  margin-left: 7px;
  margin-right: 7px;
}

.row:first-of-type {
  margin-top: 7px;
}

.row:last-of-type {
  margin-bottom: 7px;
}

.block {
  font-weight: bold;
  display: flex;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  box-shadow: -2px 2px 5px black;
  align-items: center;
  justify-content: center;
  color: white;
  transition: color 0.8s ease, background-color 0.5s ease;
  cursor: pointer;
}

.current-label {
  font-weight: bold;
}

#current {
  display: inline;
}

.submit-container {
  display: flex;
  margin: 0 auto;
  width: 350px;
  align-items: center;
  justify-content: space-between;
}

.score-table {
  border-collapse: collapse;
  background-color: white;
  margin: 20px auto;
}

.score-table th, td {
  border: 5px solid #FFCA08;
  padding: 5px;
}

.word-column {
  text-align: left;
  width: 200px;
}

.selected {
  background-color: #AACEEC;
}

#total {
  background-color: lightgray;
}
